<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>Logowanie</h1>
            <form th:action="@{/login}" method="post">
                <div th:if="${param.error}">
                    <div class="alert alert-danger"> Błędny login lub hasło</div>
                </div>
                <div th:if="${param.logout}">
                    <div class="alert alert-info">Zostałeś wylogowany</div>
                </div>

                <div class="form-group">
                    <label for="username"> Email : </label>
                    <input type="email" class="form-control" id="username" name="username"
                           placeholder="Wprowadz adres email" autofocus="autofocus">
                </div>
                <div class="form-group">
                    <label for="password"> Hasło : </label>
                    <input type="password" class="form-control" id="password" name="password"
                           placeholder="Wprowadz hasło" autofocus="autofocus">
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <input type="submit" name="login-submit" id="login-submit"
                                   class="form-control btn btn-primary" value="Log In" />
                        </div>
                    </div>
                </div>
            </form>
            <div class="form-group">
                <span>Nie masz konta? <a href="/" th:href="@{/registration}">Załóż konto</a></span>
            </div>
        </div>
    </div>
</div>
</body>

</html>