<!DOCTYPE html>
<html lang="pl" >
<head>
    <meta charset="UTF-8">
    <title>Rejestracja</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
</head>
<body>
<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div th:if="${param.success}">
                <div class="alert alert-info">Rejestracja pomyślna</div>
            </div>
            <h1>Registration</h1>
            <form th:action="@{/registration}" method="post" th:object="${user}">
                <div class="form-group">
                    <label class="control-label" for="firstName">
                        Imię
                    </label>
                    <input id="firstName" class="form-control" th:field="*{firstName}" required autofocus="autofocus">
                </div>
                <div class="form-group">
                    <label class="control-label" for="lastName">
                        Nazwisko
                    </label>
                    <input id="lastName" class="form-control" th:field="*{lastName}" required autofocus="autofocus">
                </div>
                <div class="form-group">
                    <label class="control-label" for="email">
                        Email
                    </label>
                    <input id="email" type="email" class="form-control" th:field="*{email}" required autofocus="autofocus">
                </div>
                <div class="form-group">
                    <label class="control-label" for="password">
                        Hasło
                    </label>
                    <input id="password" class="form-control" type="password" th:field="*{password}" required
                           autofocus="autofocus">
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success">Rejestracja</button>
                    <span>Masz już konto?<a href="/" th:href="@{/login}">Zaloguj się</a> </span>
                </div>

            </form>
        </div>
    </div>
</div>
</body>
</html>